[package]
name = "mongodb"
version = "0.1.4"
authors = ["Valeri Karpov <valkar207@gmail.com>",
           "Saghm Rossi <saghmrossi@gmail.com>",
           "Kevin Yeh <kevinyeah@utexas.edu>"]

description = "An experimental MongoDB driver written by MongoDB interns."
repository = "https://github.com/mongodb-labs/mongo-rust-driver-prototype"
documentation = "https://mongodb-labs.github.io/mongo-rust-driver-prototype/mongodb"
readme = "README.md"
keywords = ["mongo", "mongodb", "database", "bson", "nosql"]
license = "Apache-2.0"

[dependencies]
bson = "0.2"
byteorder = "0.5"
chrono = "0.2"
rand = "0.3"
rust-crypto = "0.2.31"
rustc-serialize = "0.3"
scan_fmt = "0.1.0"
separator = "0.3.1"
textnonce = { version = "0.3", default-features = false }
time = "0.1"
bufstream = "0.1.1"

[dev-dependencies]
nalgebra = "0.5"

[features]
default = ["rust-stable"]
rust-stable = ["textnonce/rust-stable"]
rust-nightly = ["textnonce/rust-nightly"]
