#[link(name="mongo", vers="0.1", author="jaoke.chinlee@10gen.com, austin.estep@10gen.com")];
#[comment="a huMONGOus crate"];
#[license="Apache 2.0"];
#[crate_type="lib"];

//#[no_core]

extern mod std;
extern mod extra;
extern mod bson;
extern mod bson_types;
extern mod json_parse;

// Misc: utility module
pub mod util;

// Client-side components
//pub mod client;     // primary point-of-entry for driver system
//pub mod db;         // database-related functionality
//pub mod coll;       // collection-related functionality

// Connection components
pub mod conn;       // medium for connecting to [a] server(s); general
//pub mod conn_node;    // ...; node
//mod msg;        // message header and related; hidden
//pub mod conn_replica; // ...; replica set
//pub mod conn_shard;   // ...; sharded cluster

// Cursor components
//pub mod cursor;     // mode of interaction with results
//pub mod index;      // index for querying
