#[link(name="rmongo", vers="0.1", author="jaoke.chinlee@10gen.com, austin.estep@10gen.com")];
#[crate_type="lib"];

extern mod std;
extern mod extra;

pub mod libmongo {
    pub mod client;
    pub mod coll;
    pub mod cursor;
    pub mod db;
    pub mod util;
    mod conn;
    mod msg;
    mod mockable;
}
pub mod bson {
    pub mod decode;
    pub mod encode;
    pub mod formattable;
    pub mod json_parse;
    mod ord_hash;
    mod stream;
}
